{
  "all": true,
  "check-coverage": true,
  "ïnclude": ["src"],
  "exclude": [
    "**/__tests__/**",
    "coverage",
    "cypress",
    "node_modules",
    "out",
    "src/__examples__",
    "src/router",
    "**config.js",
    "**config.dev.js"
  ],
  "reporter": ["lcov", "text-summary"]
}
