{
  "all": true,
  "check-coverage": true,
  "exclude": [
    "src/__examples__",
    "src/router",
    "coverage",
    "cypress",
    "node_modules",
    "**/__tests__/**"
  ],
  "reporter": ["lcov", "text-summary"]
}
